 <!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <hr class="small">
                    <span class="subheading">Have questions? I have answers (maybe).</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form name="sentMessage" id="contactForm" novalidate ng-submit="sentMessage.$valid && save()">
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name" id="name" name="personName" ng-model="contactInfo.name" required>
                        <p class="help-block text-danger">
                            <ul ng-messages="sentMessage.personName.$error" ng-if="sentMessage.$submitted || sentMessage.personName.$touched" role="alert">
                                <li ng-message="required">
                                    Please enter your name
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Email Address" id="email" ng-model="contactInfo.email" required name="personEmail">
                        <p class="help-block text-danger">
                            <ul ng-messages="sentMessage.personEmail.$error" ng-if="sentMessage.$submitted || sentMessage.personEmail.$touched" role="alert">
                                <li ng-message="required">
                                    Please enter your e-mail address
                                </li>
                                <li ng-message="email">
                                    E-mail address is not valid
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Phone Number</label>
                        <input type="tel" class="form-control" placeholder="Phone Number" id="phone" ng-model="contactInfo.telephone" name="personPhone" required>
                        <p class="help-block text-danger">
                            <ul ng-messages="sentMessage.personPhone.$error" ng-if="sentMessage.$submitted || sentMessage.personPhone.$touched" role="alert">
                                <li ng-message="required">
                                    Please enter your telephone number
                                </li>

                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Message</label>
                        <textarea rows="5" class="form-control" placeholder="Message" id="message" name="personMessage" ng-model="contactInfo.message" required></textarea>
                        <p class="help-block text-danger">
                            <ul ng-messages="sentMessage.personMessage.$error" ng-if="sentMessage.$submitted || sentMessage.personMessage.$touched" role="alert">
                                <li ng-message="required">
                                    Please enter a message.
                                </li>

                            </ul>
                        </p>
                    </div>
                </div>
                <br>
                <div id="success">
                    <div class="alert alert-success" ng-show="showSuccess">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Please see the submission entries below the form</strong>
                    </div>
                </div>
                 
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>
                <div class="row">
                    <h3>Previous Messages</h3>
                    <div class="well" ng-repeat="previousContact in previousContacts ">
                        <p><strong>Name: </strong>{{previousContact.name}} </p>
                        <p><strong>E-mail: </strong> {{previousContact.email}}</p>
                        <p><strong>Telephone: </strong> {{previousContact.telephone}}</p>
                        <p><strong>Message: </strong>{{previousContact.message}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
